@mixin zil-grid-row($horizontal-alignment, $gap: $small-gutter) {
  display: grid;

  box: {
    sizing: border-box;
  }

  width: 100%;

  grid: {
    auto: {
      flow: column;
    }

    gap: $gap;
  }

  place: {
    content: center $horizontal-alignment;
    items: center normal;
  }

  @content;
}
