@mixin zil-grid-column($vertical-alignment, $gap: $small-gutter) {
  display: grid;

  box: {
    sizing: border-box;
  }

  height: 100%;

  grid: {
    auto: {
      flow: row;
    }

    gap: $gap;
  }

  place: {
    content: $vertical-alignment stretch;
    items: normal stretch;
  }

  @content;
}
