@mixin zil-grid($vertical-alignment, $horizontal-alignment, $gap: $large-gutter) {
  display: grid;

  box: {
    sizing: border-box;
  }

  width: 100%; height: 100%;

  grid: {
    template: {
      columns: repeat($layout-grid-columns, 1fr);
    }

    gap: $gap;
  }

  place: {
    content: $vertical-alignment $horizontal-alignment;
  }

  @content;
}
