<zil-card>
  <zil-card-content>
    <dg-row class="content" alignment="space-evenly">
      <div class="mat-small">Zilliqa Explorer is a Block Explorer and Analytics Platform for Zilliqa, a decentralized smart contracts platform.</div>

      <mat-divider vertical></mat-divider>

      <div>
        <div class="mat-body-2">Links</div>
        <div><a zil-link href="https://zilliqa.com">Official Site</a></div>
        <div><a zil-link href="https://blog.zilliqa.com">Blog</a></div>
      </div>

      <mat-divider vertical></mat-divider>

      <div>
        <div class="mat-body-2">Social</div>
        <div><a zil-link href="https://twitter.com/zilliqa">Twitter</a></div>
        <div><a zil-link href="https://t.me/zilliqachat">Telegram</a></div>
        <div><a zil-link href="https://www.reddit.com/r/zilliqa">Reddit</a></div>
        <div><a zil-link href="https://www.youtube.com/channel/UCvinnFbf0u71cajoxKcfZIQ">YouTube</a></div>
      </div>

      <mat-divider vertical></mat-divider>

      <div>
        <div class="mat-body-2">For Developers</div>
        <div><a zil-link href="https://github.com/Zilliqa">GitHub</a></div>
        <div><a zil-link href="https://invite.zilliqa.com">Slack</a></div>
        <div><a zil-link href="https://gitter.im/Zilliqa">Gitter</a></div>
        <div><a zil-link href="https://forum.zilliqa.com">Forum</a></div>
      </div>
    </dg-row>
  </zil-card-content>
</zil-card>
