@import 'ui-kit';

:host {
  @include zil-grid-column(space-between) {
    padding: $large-gutter 0;
  }

  @include mat-elevation(4);

  background: {
    color: map-get(map-get($theme, background), app-bar);
  }
}
