<mat-nav-list>
  <mat-list-item routerLink="blockchain">
    <mat-icon matListIcon>timeline</mat-icon>
    <span matLine>Blockchain</span>
  </mat-list-item>

  <mat-list-item routerLink="blocks">
    <mat-icon matListIcon>list_alt</mat-icon>
    <span matLine>TX / DS Blocks</span>
  </mat-list-item>

  <mat-list-item routerLink="transactions">
    <mat-icon matListIcon>swap_horiz</mat-icon>
    <span matLine>Transactions</span>
  </mat-list-item>

  <mat-list-item routerLink="history">
    <mat-icon matListIcon>history</mat-icon>
    <span matLine>History</span>
  </mat-list-item>

  <mat-list-item routerLink="shard-check">
    <mat-icon matListIcon>check_circle_outline</mat-icon>
    <span matLine>Shard Check</span>
  </mat-list-item>
</mat-nav-list>
