@import 'ui-kit';

:host {
  @include zil-grid-row(space-between) {
    padding: $large-gutter;
  }

  @include mat-elevation(6);

  background: {
    color: mat-color(map-get($theme, primary), default);
  }

  color: mat-color(map-get($theme, primary), default-contrast);
}
