@import '~@datagazer/ui';

:host {
  @include dg-column();
}

.mat-column {
  &-id {
    text: {
      align: left;
    }
  }

  &-timestamp {
    text: {
      align: left;
    }
  }

  &-txCount {
    text: {
      align: right;
    }
  }

  &-miner {
    text: {
      align: left;
    }
  }

  &-reward {
    text: {
      align: right;
    }
  }

  &-dsBlockId {
    text: {
      align: left;
    }
  }

  &-difficulty {
    text: {
      align: right;
    }
  }
}
