@import '~@datagazer/ui';

:host {
  display: block;
}

input {
  width: 500px;

  padding: (map-get($default-gutter, large) / 4);

  border: 1px solid mat-color(map-get($theme, background), app-bar) {
    radius: (2 * $default-radius);
  }

  @include mat-typography-level-to-styles($typography, subheading-2);
}
