@import 'ui-kit';

body {
  margin: initial;
}

.mat-nav-list {
  padding: {
    top: initial !important;
  }
}

.mat-table {
  width: 100%;

  background: {
    color: initial !important;
  }
}

.mat-header-cell, .mat-cell {
  padding: ($small-gutter / 2);

  line: {
    height: 1;
  }
}
