@import '~@datagazer/ui';

body {
  margin: initial;
}

.mat-nav-list {
  padding: {
    top: initial !important;
  }
}

.mat-table {
  width: 100%;

  background: {
    color: initial !important;
  }
}

.mat-header-cell, .mat-cell {
  padding: map-get($default-gutter, small) !important;

  line: {
    height: 1;
  }
}
