<dg-grid>
  <dg-grid-cell column-span="12">
    <zil-tile>
      <zil-tile-title>Transaction Number</zil-tile-title>
      <zil-tile-content zilLineChart [options]="(marketCharts$ | async)?.transactionNum"></zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="12">
    <zil-tile>
      <zil-tile-title>Mining Difficulty</zil-tile-title>
      <zil-tile-content zilLineChart [options]="(marketCharts$ | async)?.dsMiningDifficulty"></zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="12">
    <zil-tile>
      <zil-tile-title>ZIL USD Price</zil-tile-title>
      <zil-tile-content zilLineChart [options]="(marketCharts$ | async)?.zilPrice"></zil-tile-content>
    </zil-tile>
  </dg-grid-cell>
</dg-grid>
