<dg-grid>
  <dg-grid-cell column-span="3">
    <zil-tile>
      <zil-tile-title>Number of Shards</zil-tile-title>
      <zil-tile-content>{{ (blockchainInfo$ | async)?.ShardingStructure.NumPeers.length | number }}</zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="3">
    <zil-tile>
      <zil-tile-title>Number of Peers</zil-tile-title>
      <zil-tile-content>{{ (blockchainInfo$ | async)?.NumPeers | number }}</zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="3">
    <zil-tile>
      <zil-tile-title>Transaction Rate</zil-tile-title>
      <zil-tile-content>{{ (marketInfo$ | async)?.transactionRate | number }}</zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="3">
    <zil-tile>
      <zil-tile-title>Total Market Cap</zil-tile-title>
      <zil-tile-content>{{ (marketInfo$ | async)?.capitalization }}</zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="3">
    <zil-tile>
      <zil-tile-title>Current DS Epoch</zil-tile-title>
      <zil-tile-content>{{ (blockchainInfo$ | async)?.CurrentDSEpoch }}</zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="3">
    <zil-tile>
      <zil-tile-title>Current TX Epoch</zil-tile-title>
      <zil-tile-content>{{ (blockchainInfo$ | async)?.CurrentMiniEpoch }}</zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="3">
    <zil-tile>
      <zil-tile-title>DS Mining Difficulty</zil-tile-title>
      <zil-tile-content>{{ (marketInfo$ | async)?.dsMiningDifficulty | number }}</zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="3">
    <zil-tile>
      <zil-tile-title>TX Mining Difficulty</zil-tile-title>
      <zil-tile-content>{{ (marketInfo$ | async)?.txMiningDifficulty | number }}</zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="6">
    <zil-tile>
      <zil-tile-title>ZIL USD Price</zil-tile-title>
      <zil-tile-content zilLineChart [options]="(marketCharts$ | async)?.zilPrice"></zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="6">
    <zil-tile>
      <zil-tile-title>Transaction Number</zil-tile-title>
      <zil-tile-content zilLineChart [options]="(marketCharts$ | async)?.transactionNum"></zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="6">
    <zil-tile>
      <zil-tile-title>DS Mining Difficulty</zil-tile-title>
      <zil-tile-content zilLineChart [options]="(marketCharts$ | async)?.dsMiningDifficulty"></zil-tile-content>
    </zil-tile>
  </dg-grid-cell>

  <dg-grid-cell column-span="6">
    <zil-tile>
      <zil-tile-title>TX Mining Difficulty</zil-tile-title>
      <zil-tile-content zilLineChart [options]="(marketCharts$ | async)?.txMiningDifficulty"></zil-tile-content>
    </zil-tile>
  </dg-grid-cell>
</dg-grid>
