@import '~@datagazer/ui';

:host {
  display: grid;

  grid: {
    template: {
      rows: auto 1fr;
    }
  }

  height: 100vh;

  min: {
    width: $min-layout-width;
  }

  @include mat-typography-level-to-styles($typography, body-1);

  background: {
    color: mat-color(map-get($theme, background), background);
  }

  color: mat-color(map-get($theme, foreground), text);
}

app-header {
  // position: relative;
  // z-index: 2;
}

app-navbar {
  // position: relative;
  // z-index: 1;
}

app-outlet {
  // position: relative;
  // z-index: 0;

  overflow: {
    y: auto;
  }
}
