<zil-card>
  <zil-card-content>
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput value="{{ transaction.ID }}" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Signature</mat-label>
      <input matInput value="{{ transaction.signature }}" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gas Price</mat-label>
      <input matInput value="{{ transaction.gasPrice }}" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput value="{{ transaction.amount }}" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nonce</mat-label>
      <input matInput value="{{ transaction.nonce }}" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sender Public Key</mat-label>
      <input matInput value="{{ transaction.senderPubKey }}" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To Address</mat-label>
      <input matInput value="{{ transaction.toAddr }}" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>From Address</mat-label>
      <input matInput value="{{ transaction.fromAddr }}" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Version</mat-label>
      <input matInput value="{{ transaction.version }}" readonly>
    </mat-form-field>
  </zil-card-content>
</zil-card>
