<zil-card>
  <zil-card-content>
    <table mat-table [dataSource]="transactions$ | async">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>

        <td mat-cell *matCellDef="let transaction">
          <zil-link [routerLink]="transaction.id">{{ transaction.id }}</zil-link>
        </td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef>Age</th>

        <td mat-cell *matCellDef="let transaction">
          {{ transaction.timestamp | timeAgo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="addressFrom">
        <th mat-header-cell *matHeaderCellDef>From</th>

        <td mat-cell *matCellDef="let transaction">
          <zil-link [routerLink]="['/address', transaction.addressFrom]">{{ transaction.addressFrom }}</zil-link>
        </td>
      </ng-container>

      <ng-container matColumnDef="addressTo">
        <th mat-header-cell *matHeaderCellDef>To</th>

        <td mat-cell *matCellDef="let transaction">
          <zil-link [routerLink]="['/address', transaction.addressTo]">{{ transaction.addressTo }}</zil-link>
        </td>
      </ng-container>

      <ng-container matColumnDef="gasPrice">
        <th mat-header-cell *matHeaderCellDef>Gas Price</th>

        <td mat-cell *matCellDef="let transaction">
          {{ transaction.gasPrice | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>

        <td mat-cell *matCellDef="let transaction">
          {{ transaction.value | currency : 'ZIL' : true : '1.6-6' }}
        </td>
      </ng-container>

      <thead>
        <tr mat-header-row *matHeaderRowDef="transactionColumns"></tr>
      </thead>

      <tbody>
        <tr mat-row *matRowDef="let transaction; columns: transactionColumns"></tr>
      </tbody>
    </table>
  </zil-card-content>
</zil-card>
