<mat-list dense>
  <mat-list-item *ngFor="let transaction of transactions$ | async">
    <div matLine>
      <zil-layout-row zil-align="space-between">
        <span>TX # <zil-link [routerLink]="transaction.ID">{{ transaction.ID }}</zil-link></span>
        <span>{{ transaction.timestamp | timeAgo }}</span>
      </zil-layout-row>
    </div>

    <div matLine>
      <zil-layout-row zil-align="space-between">
        <span>To <zil-link [routerLink]="['/address', transaction.toAddr]">{{ transaction.toAddr }}</zil-link></span>
        <span>Amount {{ transaction.amount | number }} ZIL</span>
      </zil-layout-row>
    </div>
  </mat-list-item>
</mat-list>
