@import 'ui-kit';

:host {
  @include zil-grid-column(start);

  @include zil-card();
}

.mat-column {
  &-id {
    text: {
      align: left;
    }
  }

  &-timestamp {
    text: {
      align: left;
    }
  }

  &-addressFrom {
    text: {
      align: left;
    }
  }

  &-addressTo {
    text: {
      align: left;
    }
  }

  &-value {
    text: {
      align: right;
    }
  }
}
