@import '~@datagazer/ui';

:host {
  @include dg-column();
}

.mat-column {
  &-id {
    text: {
      align: left;
    }
  }

  &-timestamp {
    text: {
      align: left;
    }
  }

  &-addressFrom {
    text: {
      align: left;
    }
  }

  &-addressTo {
    text: {
      align: left;
    }
  }

  &-gasPrice {
    text: {
      align: right;
    }
  }

  &-value {
    text: {
      align: right;
    }
  }
}
